.sign-in-container {
    margin-top: 10%;
}

.place-order-container,
.incoming-order-container {
    margin-top: 2%;
}

.menu-items-container th:nth-child(3),
td:nth-child(3) {
    text-align: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .sign-in-container {
        width: 500px;
    }

    .place-order-container,
    .incoming-order-container {
        width: 60%;
    }
}
